/* html,body{
    height: 100%;
} */
.red{
    background: red;
}
.bule{
    background: blueviolet; 
}
#search{
    width: 10%;
    min-width: 200px;
}
.top{
    padding: 20px;
}
.top button,input{
    display: inline-block !important;
}
.top #search_btn{
    margin-left: 10px;
    margin-top: -2px;
}
.table {
    /* width: 100%;
    max-width: 100%; */
    margin-bottom: 0px;
}
.box th,td{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    border-color: #e6e6e6 !important;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px !important;
}
.box th{
    font-weight: normal !important;
    background: rgb(242, 242, 242);
    color: #666;
    position: relative;
}
.box th font{
    position: absolute;
    padding: 0px;
    margin-left: 10px;
    font-size: 12px;
    color: #b2b2b2;
}
.box th .active{
    color: black;
}
.box th .top{
    top: 8px;
}
.box th .bot{
    bottom: 7px;
}
p{
    color: #666;
}



/* 排序CSS */
.redd{
    background: red;
}
.greenn{
    background-color: green;
}
.box th font {
    margin-left: 8px;  
}
/* 下拉 */
.xiala{
    margin-left: 10px;
    padding: 6px 20px;
    padding-right: 50px !important;
    vertical-align: bottom;
    display: inline-block;
    height: 34.5px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: rgb(69, 70, 56);
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.xiala:focus{
    outline: none;
    border: solid 1px rgb(125, 125, 125);
    -moz-box-shadow: 2px 2px 13px -5px blue;
    -webkit-box-shadow: 2px 2px 13px -5px blue;
    box-shadow: 2px 2px 13px -5px blue;
}

/* 链接样式 */
.xian{
    color: red;

}
.lianjie{
    color: red;
    font-style:italic
}

.nothing{
    text-align: center;
    color: rgb(155,155,155);
    height: 100px;
    line-height: 120px;
    font-size: 20px;
}
/* 开关样式 */
.layui-form-switch{
    min-width: 65px;
}
.kaiguan{
    visibility: hidden;
    position: absolute;
}
/* 超出省略号 */
/* .shenglue{ text-overflow:ellipsis; white-space: space nowrap !important; overflow:hidden; } */


