.container {
    width: 100%;
    
    background-color: rgb(34, 34, 34);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
}
.container::after{
    content: "";
    display: block;
    clear: both;
}
.container dd a{
        color: rgb(34, 34, 34) !important;  
}
.container .logo a {
    float: left;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding-left: 20px;
    line-height: 45px;
    width: 200px;
    font-weight: bold;
}
a {
    text-decoration: none;
}
.container .left_open {
    height: 45px;
    float: left;
}
.container .left_open i {
    display: block;
    color: white;
    font-size: 20px;
    line-height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 3px;
    width: 32px;
    margin-top: 7px;
    background: rgba(255, 255, 255, 0.1);
}
.container .left_open i:hover{
    background: rgba(255, 255, 255, 0.2);
}
.container .right {
    background-color: rgba(0, 0, 0, 0);
    float: right;
}
.container .right .layui-nav-item{
    line-height: 45px;
}
.container .right .layui-nav-item a{
    color: rgba(255,255,255,0.9);
}
/* 侧边导航条 */
.layui-nav-side{
    top: 46px;
    width: 221px;
    border-radius: 0px;
}
.hide{
    overflow-x: hidden;
    width: 240px;
    height: 100%;
    
    position: relative;
}
.layui-nav-tree .layui-nav-more{
    left: 180px;
}

/* 右侧主体部分 */
.page-content {
    position: absolute;
    top: 47px;
    right: 0px;
    bottom: 0px;
    left: 221px;
    z-index: 1;
    overflow: hidden;
}
.page-content .layui-tab,.layui-tab-card{
    /* height: 100%; */
    width: 100%;  
    margin: 0px; 
}
.layui-tab-content{
    padding: 0px;
}
.x-iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 40px;
    right: 0;
    bottom: 0;
    padding-bottom: 40px;
    box-sizing: border-box;
}
.layui-tab-title{
    z-index: 2;
}
#home .layui-tab-close{
    display: none !important;
}

/* 添加主内容导航效果 */
.page-content .layui-tab-title li::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 0;
    background-color: #292B34;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.page-content .layui-tab-title li:hover::after{
    width: 100%;
}
.layui-tab-card>.layui-tab-title .layui-this::after{
   width: 100% !important;
   content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    border-radius: 0;
    background-color: #292B34;
}
/* 顶部公告样式 */

.container .box {
    width: 400px;
    margin-left: 60px;
    height: 42px;
    /* border: 1px solid #ff6700; */
    overflow: hidden;
    float: right;
   
}
.container .animate a{
    color: red;
    font-size: 13px;
    line-height: 42px;
    padding-left: 10px;
}
.container .animate {
    font-size: 12px;
    display: inline-block;
    white-space: nowrap;
    animation: 15s wordsLoop linear infinite normal;
    box-sizing: content-box;
    
}

@keyframes wordsLoop {
    0% {
        transform: translateX(400px);
        -webkit-transform: translateX(400px);
    }
    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

@-webkit-keyframes wordsLoop {
    0% {
        transform: translateX(400px);
        -webkit-transform: translateX(400px);
    }
    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}
.container .animate:hover {
    animation-play-state: paused
}
/* 手机兼容 */
@media screen and (max-width: 450px) {
    .layui-nav-side{
        top: 91px;
        width: 221px;
        border-radius: 0px;
    }
    .page-content {
        position: absolute;
        top: 91px;
        right: 0px;
        bottom: 0px;
        left: 221px;
        z-index: 1;
        overflow: hidden;
    }
    .container .box {
        width: 210px;
        margin-left: 0px;
    }
    .layui-nav{
        padding: 0px !important;
        padding-right: 20px !important;
    }

    @keyframes wordsLoop {
        0% {
            transform: translateX(200px);
            -webkit-transform: translateX(200px);
        }
        100% {
            transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
        }
    }
    
    @-webkit-keyframes wordsLoop {
        0% {
            transform: translateX(200px);
            -webkit-transform: translateX(200px);
        }
        100% {
            transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
        }
    }
}